@import url(http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic-ext,cyrillic);

footer, nav, header {
	display: block;
}

button, ul, li, p, body,h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
}

button{
	font-family: inherit;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear:after{
	content: " ";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

/*reset*/
body {
	font: 16px 'Open Sans';
}

header {
	position: relative;
	width: 100%;
	background: #4c7aa0;
	color:#fff;
}

header .content {
	width: 1065px;
	margin: 0 auto 0;
}

.content .logo{
	background: url(../img/logo.png) left center no-repeat;
	font-size:15px;
	padding: 20px 0 18px 123px;
	margin-top: 27px;
}

.logo h1{
	font-size:44px;
	font-weight: bold;
	margin-bottom: -10px;
	color:#fff;
}

header .content > div{
	display: inline-block;
	vertical-align: top;
}

header .inform{
	font-weight: 700;
	margin-top: 34px;
	font-size: 20px;
	margin-right: 57px;
}

header .phone{
	background: url(../img/phone_i.png) left center no-repeat;
	padding:2px 0 3px 37px;
	margin-bottom: 29px;
}

header .find{
	text-decoration: underline;
	background: url(../img/map_white_i.png) left center no-repeat;
	padding-left:37px;
	padding-bottom: 5px;
}

header .cart{
	font-size: 24px;
	font-weight: 400;
	margin:24px 0 17px 0;
}

.cart .checkout{
	font-size: 16px;
	background: url(../img/package.png) left center no-repeat;
	padding:15px 0 9px 52px;
}

.do_checkout{
	background:url(../img/cart_btn.png) left no-repeat;
	color:#4c7aa0;
	font-size: 15px;
	display: block;
	cursor:pointer;
	font-weight: 700;
	padding: 3px 11px 2px 6px;
	border:none;
	font-family: inherit;
}

.cart .do_checkout{
	margin-top: 17px;
}

header:after{
	content: " ";
	border: 16px solid transparent;
	border-top: 16px solid #4c7aa0;
	position: absolute;
	left:50%;
	margin-left:-16px;
	z-index:1;
}


.wrap{
	width:960px;
	margin:13px auto 0;
	z-index:0;
}

.wrap .slider{
	background: #d73321;
	padding: 45px 142px 32px;
	font-size: 25px;
	color:#fff;
	position:relative;
	overflow:hidden;
}

.slider:before{
	border: 22px solid transparent;
	border-top: 22px solid #fff;
	position: absolute;
	left:50%;
	top:0;
	margin-left:-22px;
	content: "";
}

.slider .slide{
	width: 175px;
	vertical-align: top;
	text-align: center;
	height:auto;
	margin-right: 75px;
	color:#fff;
	text-decoration: none;
	float: left;
}

.slider a.slide:last-child{
	margin-right: 0px;
}

.slide img{
	margin-bottom: 20px;
}

.slider .arrow{
	width: 50px;
	height: 50px;
	position: absolute;
	top:50%;
	margin-top: -25px;
	cursor: pointer;
	-webkit-transition: width 200ms ease;
}

.slider .larrow{
	left:35px;
	background: url(../img/larrow.png)center center no-repeat;
}

.slider .arrow:active{
	width: 55px;
}

.slider .rarrow{
	right:35px;
	background: url(../img/rarrow.png)center center no-repeat;
}

.slider .slides{
	top:0;
	left:0;
	overflow: hidden;
	width: 690px;
}

.slides .slides_wrap{
	position:relative;
}
.catalog{
	height:500px;
	border:1px solid #4c7aa0;
	margin-top: 25px;
	color:#333;
	font-weight: 400;
	position: relative;
}

.catalog .first-row{
	background:#d9e2ea;
	font-size: 20px;
	width: 214px;
	text-align:left;
}

.catalog label{
	cursor: pointer;
	background: url(../img/radio_u.png) left 12px no-repeat;
	padding-left: 12px;
}
.catalog input:checked + label{
	background: url(../img/radio_c.png) left 12px no-repeat;
}
.catalog li{
	list-style:none;
	display:inline-block;
}

.catalog > div{
	overflow: auto;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	height:inherit;
	padding: 16px 0 0 10px;
}

.catalog ul input[type=radio]{
	display: none;
}

.catalog .second-row{
	background: #ebf0f5;
	font-size: 20px;
	width: 184px;
}

.catalog .fird-row{
	background: #fff
}

.fird-row .nav{
	background: #d9e3eb;
	font-size: 16px;
	padding:4px 0;
	margin-right: 10px;
}

.nav .art{
	width: 94px;
	padding-left: 6px;
}

.nav .name{
	width: 230px;
}

.nav .cost{
	width:60px;
}

.fird-row .nav > div{
	display: inline-block;
}

.catalog_wrap{
	font-size: 13px;
	margin-top: 5px;
}

.catalog_wrap .art{
	width: 94px;
	padding-left: 6px;
}

.catalog_wrap .name{
	width: 230px;
}

.catalog_wrap .cost{
	width: 60px;
	text-align: center;
}

.catalog_wrap .col{
	width: 43px;
}

.catalog_wrap input{
	width:21px;
	border:1px solid #929292;
}

.catalog_wrap .add_cart{
	display: inline-block;
	cursor: pointer;
	font-size: 10px;
	background: url(../img/cart_i.png) 1px center no-repeat,#4c7aa0;
	padding:4px 3px 5px 16px;
	border: 0;
	vertical-align: top;
	color:#fff;
}

.catalog_wrap ul li > div{
	vertical-align: top;
	display: inline-block;
}

.catalog_wrap ul li:nth-of-type(2n+1){
	background: #ebf0f5;
}

.catalog_wrap ul li{
	padding:2px 0 2px;
}

h1{
	font-size: 40px;
	font-weight: 700;
	color:#d73321;
}

.how-we-work{
	margin-top:25px;
}

.eggs{
	margin:25px auto 42px;
	font-size: 24px;
	color: #d73321;
	text-align: center;
}

.eggs > div{
	width: 234px;
	display: inline-block;
	height: 274px;
	vertical-align: top;
	position: relative;
}

.eggs .pick_item{
	background: url(../img/egg1.png) center bottom no-repeat;
}

.eggs .do-count{
	background: url(../img/egg2.png) center bottom no-repeat;
}

.eggs .call-back{
	background: url(../img/egg3.png) center bottom no-repeat;
}

.eggs .back-item{
	background: url(../img/egg4.png) center bottom no-repeat;
}

.eggs > div:after{
	content: "";
	display: block;
	background: url(../img/reggArrow.png);
	width: 43px;
	height: 31px;
	right: -27px;
	position: absolute;
	bottom: 31%;
}

.eggs > div:last-child::after{
	content: none;
}

.find-our .map_place{
	height:250px;
	border:1px solid red;
}

.find-our ul li{
	display: inline-block;
	color: #d73321;
}

.find-our .map{
	background: url(../img/map_i.png) left center no-repeat;
	padding-left: 35px;
	margin-right: 75px;
}

.find-our{
	font-size: 24px;
}

.find-our .time{
	 background: url(../img/clock_i.png) left center no-repeat;
	 padding-left: 35px;
}

.find-our .time span{
	font-size: 16px;
	vertical-align: top;
}

.find-our ul{
	margin-bottom: 10px;
	margin-left: 17px;
	margin-top: 26px;
}

footer{
	width: 960px;
	margin:12px auto 20px;
	background: #d73321;
}

footer .logo{
	background: url(../img/logo.png) left center no-repeat;
	font-size: 25px;
	color:#fff;
	padding:13px 0 15px 65px;
	background-size:60px 60px;
}

footer a{
	vertical-align: middle;
	text-decoration: none;
	display: inline-block;
	width: 50%;
	margin-left: 30px;
}

footer .phone{
	background: url(../img/phone_i.png) 3px center no-repeat;
}

footer .mail{
	background: url(../img/mail_i.png) left center no-repeat;
}

footer .map{
	background: url(../img/map_white_i.png) 5px center no-repeat;
}

footer .information{
	display: inline-block;
	vertical-align: middle;
	font-size: 15px;
	color:#fff;
	margin-top: 20px;
}

footer .information > div{
	padding-left: 33px;
	background-size:contain;
	margin-bottom: 15px;
}

footer .swag-web-logo{
	display: inline-block;
	vertical-align: middle;
	background: url(../img/swag.png);
	width: 146px;
	height: 83px;
	margin-left: 80px;
}

.catalog .fulscr{
	content: " ";
	display: block;
	position: absolute;
	background: url(../img/fullscr_i.png);
	background-size: cover;
	width: 15px;
	height: 15px;
	top:0px;
	right:18px;
	opacity: 0;
	-webkit-transition: opacity ease 0.3s;
}

.catalog .fulscr:hover{
	opacity: 0.3;
}